@media (max-width: 1280px){
main{
    flex-direction: column;
    align-items: center;
}
header{
  margin-top: 25%;
  margin-bottom: 20%;
}
.input,.submit-conteudo, .submit-vazio{
  margin: 0;
}

.design_input{
  width: auto;
}
.submit-conteudo,.submit-vazio{
  margin-top: 10%;
  margin-bottom: 10%;
}
.submit-conteudo{
  width: 70vw;
}
.submit-vazio {
  padding: 0;
  width: 90vw;
  height: 20vh;
  margin-top: 15%;

}
.exibe-texto{
  font-size: 1.5em;
}
.options{
  width: auto;
}
.botoes{
  flex-direction: column;
}
.btn_codificar,.btn_descodificar{
  margin: 0;
  width: 80vw;
}
.btn_descodificar{
  margin-top: 2vh;
}

.submit-vazio img{
  display: none;
}
.submit-vazio h2{
  margin: 0;
}
footer {
  position:absolute;
  top:0;
  padding: 15px 0 15px 0;
  margin: 0;
  width: 100%;
  height:40px;    
    }     

}