@media (max-width: 1280px){
.scroll-to-bottom {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #555;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.scroll-to-bottom:hover {
    background-color: #777;
}

.scroll-to-bottom i {
    color: #fff;
    font-size: 24px;
}
main{
    flex-direction: column;
    
}
header{
  margin-top: 25%;
  margin-bottom: 20%;
}
.design_input{
  width: auto;
}

.submit-conteudo,.submit-vazio{
  width: 50vw;
  margin-top: 1em;
}
footer {
        position:absolute;
        top:0;
        left:0;
        margin: 0;
        width: auto;
        height:40px;
        
    }     

}