body{

background: #F3F5FC;
  
}
.logo_alura{
  position: absolute;
  top: 0;
  margin-top:40px;

}

div.box_submit .planoFundo{

margin-top: 50%;

}
.remover {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}
.titulo{

}
.sub_titulo{

}
div#container {
  margin: 40px;
  display: flex;
  justify-content: space-between;
}

div.box_input {
  padding: 10px;
  border-radius: 5px;
  width:400px;
  height:400px;
  margin: 40px auto;
}

div.box_submit {
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  width: 400px;
  height: 650px;
}
div.box_submit .exibe_texto{
   color: #0A3871;
   font-size: 40px;
   text-align: center;
}

div.box_input .design_input {
  background-color: transparent;
  border: none; 
  width: 100%; 
  height: 100%;
  font-size: 40px;
  color: #0A3871;
  padding: 5px;
  outline: none; 
}

.design_input::placeholder {
  color: #0A3871;
  font-size: 40px; /* Define o tamanho da fonte do placeholder como 20 pixels */
}
div.box_input .btn_codificar{
  background: #0A3871;
  border-radius: 24px;
  width: 328px;
  height: 67px;
  
  
}
div.box_input .btn_descodificar{
  width: 328px;
  height: 67px;
  background: #D8DFE8;
  border-radius: 24px;
  
  
}

.rodape{
  
}